{% comment %}
  Name: Collection cards
  Description: This will be used on main page, but also on collections, similar structure to product listings
{% endcomment %}
  
<section class="mt-[40px]">
    <h2 class="text-center mb-[10px] max-sm:mb-[20px]">{{ section.settings.heading }}</h2>

    <div class="flex flex-wrap justify-between gap-[7px] max-md:gap-[3px] px-[8px]">
        {% for block in section.blocks %}
            {% liquid
                assign collection = block.settings.collection
            %}
            <a href="{{ collection.url }}" class="w-[calc(25%-7px)] max-md:w-[calc(50%-3px)] mb-[10px] md:mb-[40px] hover:brightness-140 hover:underline transition">
                <img src="{{ collection.featured_image | image_url }}" alt="{{ collection.title }}" 
                     loading="lazy" 
                     class="w-full aspect-[3/5] object-cover" height="1000" width="1000"> 
                <p class="text-center text-[15px]!">{{ collection.title }}</p>
            </a>
        {% endfor %}
    </div>
    
</section>

{% schema %}
{
  "name": "Custom Collection",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Collections"
    }
  ],
  "blocks": [
    {
      "type": "collection_block",
      "name": "Collection Block",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "Select Collection"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Rouvier Collections"
    }
  ]
}
{% endschema %}
